<div class="home-wrapper">
  <h1>
    Combined Order Book
  </h1>
  <mat-button-toggle-group multiple class="exchange-toggles">
    <mat-button-toggle [checked]="enableBittrex" (change)="toggleBittrex()">Bittrex</mat-button-toggle>
    <mat-button-toggle [checked]="enablePoloniex" (change)="togglePoloniex()">Poloniex</mat-button-toggle>
    <mat-button-toggle [checked]="enableGDAX" (change)="toggleGDAX()">GDAX</mat-button-toggle>
    <mat-button-toggle [checked]="enableCryptopia" (change)="toggleCryptopia()">Cryptopia</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="market-select">
    <mat-select class="pair-select" [(value)]="market1">
      <mat-option value="btc">BTC</mat-option>
    </mat-select>
    <mat-select class="pair-select" [(value)]="market2" (selectionChange)="updateMarkets()">
      <mat-option value="eth">ETH</mat-option>
      <mat-option value="ltc">LTC</mat-option>
    </mat-select>
  </div>
  <div class="order-books">
    <div class="bids-book">
      <h2>Bids</h2>
      <ul class="bids-list">
        <li>
          <span class="order-col header number">Price</span>
          <span class="order-col header number">Amount</span>
          <span class="order-col header label">Origin</span>
        </li>
        <li *ngFor="let bid of bids" [class.overlap]="bid.overlap">
          <span class="order-col bid number">{{ bid.rate }}</span>
          <span class="order-col number">{{ bid.quantity }}</span>
          <span class="order-col label">{{ bid.origin }}</span>
        </li>
      </ul>
    </div>
    <div class="asks-book">
      <h2>Asks</h2>
      <ul class="asks-list">
        <li>
          <span class="order-col header number">Price</span>
          <span class="order-col header number">Amount</span>
          <span class="order-col header label">Origin</span>
        </li>
        <li *ngFor="let ask of asks" [class.overlap]="ask.overlap">
          <span class="order-col ask number">{{ ask.rate }}</span>
          <span class="order-col number">{{ ask.quantity }}</span>
          <span class="order-col label">{{ ask.origin }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
